<html xmlns:th="http://www.thymeleaf.org">
<!-- Header Navbar: style can be found in header.less -->
<div th:fragment="menu">
    <ul class="sidebar-menu" data-widget="tree" >
        <li class="treeview" th:each="menulist ,menuStat : ${menuList}">
            <a  th:attr="data-index=${menulist.id}" th:href="${menulist.href}" class="J_menuItem" th:if="${ not #lists.isEmpty(menulist.children)}">
                <i th:class="${menulist.icon}"></i> <span th:text="${menulist.name}"></span>
                <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                 </span>
            </a>
            <ul class="treeview-menu" >
                <li class="active"  th:each="menuliste ,menusStat : ${menulist.children}">
                    <a  th:id="${menuliste.id}" th:href="${menuliste.href}" class="J_menuItem"><i th:class="${menuliste.icon}"></i><span th:text="${menuliste.name}"></span></a>
                </li>
            </ul>
        </li>

        <li class="treeview" th:each="menulist ,menuStat : ${menuList}">
            <a   th:id="${menulist.id}" th:href="${menulist.href}" class="J_menuItem" th:if="${#lists.isEmpty(menulist.children)}">
                <i th:class="${menulist.icon}"></i> <span th:text="${menulist.name}"></span>
            </a>
        </li>
    </ul>
</div>
