<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fendo.shiro.mapper.RoleMapper">

    <select id="selectByUserId" parameterType="java.lang.String" resultType="com.fendo.shiro.entity.RoleEntity">
        SELECT c.* FROM sys_user a
        LEFT JOIN sys_user_role b on a.id=b.user_id
        LEFT JOIN sys_role c on b.role_id=c.id where a.id=${userid}
    </select>

</mapper>
